* {
  margin: 0;
}

.App {
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Courgette', cursive;
  line-height: 1.5;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

p {
  font-family: 'Merriweather', serif;
  line-height: 2;
  font-size: 1.1rem;
}
